header {
    position: relative;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.navbar-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 24vh;
}

.navbar-nav .nav-link {
    color: var(--colour-main-blue-500, #505F98);
    /* Regular 14 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 25rem;
    line-height: 24px;

    /* 171.429% */
}

.button-container {
    color: #FFF;
    text-align: center;
    /* Medium 12 */
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500px;
    line-height: 18px;
    margin: auto;
    justify-content: flex-end;
    display: flex;
    padding-right: 20vh;
    /* 150% */
}

.btn-primary {
    border-radius: 2px;
    background: #111B47;
    width: 160px;
}

.btn-primary:hover {
    background-color: #FFF;
    color: #111B47;
}

.text-over-image {
    position: relative;
    z-index: 1;
    color: black;
    text-align: left;
    padding-top: 35vh
}

.text-over-image h1 {
    color: var(--colour-main-blue-900, #091133);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Medium 50 */
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
    /* 132% */
    letter-spacing: 1px;
    width: 539px;
}

.text-over-image p {
    color: var(--colour-main-blue-500, #505F98);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Regular 18 */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 539px;

}

.sliderimage {
    position: absolute;
    top: 0;
    right: 0;
}